@charset "UTF-8";
.projetos {
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 82px;
  background-color: #171717;
}
.projetos .project-title {
  color: #3399ff;
}
.projetos .project-title h1 {
  font-size: 2rem;
}
.projetos .project-link {
  display: inline-block;
  color: #fff; /* Set the text color to white */
  text-decoration: none; /* Remove default underline style for links */
}
.projetos .projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  position: relative;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.projetos .projects-container .project-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  margin: 24px;
  margin-top: 50px;
  margin-bottom: 80px;
  max-width: 350px;
  height: 350px;
  box-shadow: 0px 0px 12px rgba(255, 92, 250, 0.218);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
}
.projetos .projects-container .project-box:hover {
  background: linear-gradient(120deg, #184691, #3399ff);
  transform: scale(1.1);
}
.projetos .projects-container .project-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 10px;
}
.projetos .projects-container .project-box h2, .projetos .projects-container .project-box p {
  position: relative;
  z-index: 2;
  color: #fff; /* Set the text color to white */
  text-align: center;
}
.projetos .projects-container .project-box h2 {
  font-size: 2rem; /* Ajuste o tamanho do título conforme necessário */
  margin-bottom: 10px;
}
.projetos .projects-container .project-box p {
  font-size: 1rem; /* Ajuste o tamanho do parágrafo conforme necessário */
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}
.projetos .projects-container .prev-button,
.projetos .projects-container .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #ffffff;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.projetos .projects-container .prev-button:hover,
.projetos .projects-container .next-button:hover {
  background-color: #3399ff;
}
.projetos .projects-container .prev-button {
  left: 300px;
}
.projetos .projects-container .next-button {
  right: 300px;
}
.projetos .projects-container .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.projetos .projects-container .dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.projetos .projects-container .dots .dot:hover {
  background-color: #3399ff;
}
.projetos .projects-container .dots .active-dot {
  background-color: #3399ff;
}
@media (max-width: 767px) {
  .projetos h1 {
    font-size: 36px;
  }
  .projetos .projects-container {
    justify-content: center;
  }
  .projetos .projects-container .project-box {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 150px;
    height: 150px;
    padding: 2px;
  }
  .projetos .projects-container .project-box h2 {
    font-size: 1rem;
  }
  .projetos .projects-container .project-box p {
    font-size: 14px;
  }
  .projetos .prev-button,
  .projetos .next-button {
    display: none;
  }
  .projetos .dots {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=projetos.css.map */
