@import '../../variables';

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $cor-de-fundo-box;

  h2 {
    color: #ffffff;
    font-size: 64px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    margin-top: 82px;
    margin-bottom: 50px;
  }

  .contato-name {
    color: $cor-primaria;
    font-size: 64px;
  }

  .contato-container {
    width: 28%;
    padding: 40px;
    background-color: $cor-de-fundo-box;
    border-radius: 10px;
    box-shadow: $cor-box-shadow;
    margin: 20px;
    margin-right: 30px;
    margin-bottom: 110px;

    form {
      width: 100%;

      .form-group {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;

        label {
          display: block;
          color: $cor-primaria;
          font-size: 1.2rem;
          margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 8px;
          background-color: $cor-de-fundo;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          font-size: 1rem;
          transition: background-color 0.3s ease;

          &:focus {
            outline: none;
            background-color: lighten($cor-de-fundo-box, 10%);
          }
        }

        textarea {
          height: 120px;
        }
      }

      button {
        padding: 10px 30px;
        border: none;
        border-radius: 8px;
        background-color: $cor-primaria;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($cor-primaria, 10%);
        }
      }
    }
  }

  .contato-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  
  .contato-info-item {
    margin-bottom: 20px;
    font-size: 18px;
    color: #ffffff;
  }
  
  .info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .info-box img {
    margin-right: 10px;
    width: 44px;
    height: 44px;
  }
  
  .info-box p {
    margin: 0;
  }
  
  .address-icon,
  .phone-icon,
  .email-icon {
    font-weight: bold;
  }
  
  .phone-icon,
  .email-icon {
    margin-top: 10px;
  }

  .erro-formulario {
    color: white;
    margin-bottom: 10px;
  }
  
  @media (max-width: 767px) {
    h2,
    .contato-name {
      font-size: 36px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .contato-container {
      width: 100%;
      padding: 20px;
      margin: 20px 0;
      margin-bottom: 50px;
    }
  
    .contato-info {
      margin-left: 0;
    }
  
    .info-box img {
      width: 32px;
      height: 32px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  
    button {
      margin-top: 10px; /* Adicione a margem desejada */
    }
  }
  
}