// _variables.scss

$cor-primaria: #3399ff;
$cor-de-fundo: #171717;
$cor-de-fundo-box: #1a1a1a;
$cor-de-fundo-hover: #184691;
$cor-seta: #212121;
$cor-box-shadow: 0px 0px 12px rgba(255, 92, 250, 0.218);